body{
    margin: 0;
    font-family: Arial;
}

nav{
    width: 80%;
    padding: 0 10%;
    height: 60px;
    background-color: #1d1d1d;
    border-bottom: solid orange 1px;
    line-height: 60px;
    text-align: center;
}

h1{
    font-size: 60px;
    color: orange;
    margin: 0;
}

h2{
    font-size: 16px;
    margin: 0;
}

.button_nav{
	display: inline-block;
    width: 150px;
    height: 30px;
    margin: 0 2px;
    border: 0;
    cursor: pointer;
    transition: 0.25s;
    font-size: 14px;
}

.button_nav:hover{
    transform: scale(1.05,1.05);
    background-color: orange;
}


.section_1{
    width: 100%;
    height: calc(100vh - 61px);
    background-image: url('img/chess_fond.jpg');
    background-size: cover;
}

.layer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    color : white;
    background-color: rgba(0, 0, 0, 0.5);
}

#menuOpen{
    margin: 0;
    color: white;
    cursor: pointer;
    display: none;
}

/*____________________________Page_apprendre_à_jouer____________________________*/

.section_2{
    display: flex;
    width: 100%;
    height: 500px;
}

.section_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-bottom: 1px solid orange;
}

.back_color{
    background-color: #1d1d1d;
}

.section_titre{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid orange;
}

.section_titre h2{
    font-size: 24px;
    font-weight: lighter;
}

.img_plateau{
    width: 50%;
}

.section_div p{
    margin: 0;
    padding: 0 15%;
}

/*____________________________Mobile____________________________*/

@media screen and (max-width:800px){

    .section_2{
        flex-wrap: wrap;
        height: auto;
    }

    .section_div{
        width: 100%;
        padding: 30px 0;
        min-height: 250px;
    }

    .order_div{
        order: 1;
    }

    .button_nav{
        display: none;
        margin: 5px auto;
    }

    #menuOpen{
        display: initial;
    }

}

/*____________________________Class_Changeantes____________________________*/

.navigation_edit{
    height: 220px !important;
}

.button_nav_edit{
    display: block !important;
}