body{
    margin: 0;
    font-family: Arial;
}

nav{
    width: 80%;
    padding: 0 10%;
    height: 60px;
    background-color: #1d1d1d;
    border-bottom: solid orange 1px;
    line-height: 60px;
    text-align: center;
}

h1{
    font-size: 60px;
    color: orange;
    margin: 0;
}

h2{
    font-size: 16px;
    margin: 0;
}

.button_nav{
    width: 150px;
    height: 30px;
    margin: 0 2px;
    border: 0;
    cursor: pointer;
    transition: 0.25s;
    font-size: 14px;
}

.button_nav:hover{
    transform: scale(1.05,1.05);
    background-color: orange;
}


.section_1{
    width: 100%;
    height: calc(100vh - 61px);
    background-image: url('img/chess_fond.jpg');
    background-size: cover;
}

.layer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    color : white;
    background-color: rgba(0, 0, 0, 0.5);
}

#menuOpen{
    margin: 0;
    color: white;
    cursor: pointer;
    display: none;
}



/*____________________________Mobile____________________________*/

@media screen and (max-width:800px){

    .button_nav{
        display: none;
        margin: 5px auto;
    }

    #menuOpen{
        display: initial;
    }

}